* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-card {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.question-card h1 {
    font-size: 2rem;
    margin-bottom: 2vh;
}

.response {
    margin-top: 2vh;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 1.2rem;
}

button {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.bt-1 {
    background-color: #4CAF50;
}

.bt-2 {
    background-color: #f44336;
}
